@font-face {
  font-family: "NanumSquare";
  src: local("NanumSquare"), url("/fonts/NanumSquare-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquare";
  src: local("NanumSquare"), url("/fonts/NanumSquare-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-base: "NanumSquare", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
}
